@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0f0f0f;
  color: #ececec;
  font-family: 'Questrial', sans-serif;
}

:root {
  --text-color: #ececec ;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
}

h3 {
  font-weight: 400;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/*--------*/
#D_link {
  position: absolute;
  border: 1px solid #ececec;
  padding: 5px 8px;
  font-size: 24px;
  top: 22px;
  left: 29px;
  font-weight: 400;
}

#follow_me {
  position: absolute;
  padding: 5px 8px;
  bottom: 10px;
  left: 18px;
}

#follow_me h3 {
  font-size: medium;
  margin: 10px 0px;
  text-transform: uppercase;
}

#follow_me a {
  padding: 2px;
  text-align: center;
}

#follow_me img {
  width: 25px;
  height: 25px;
}

#menu_button {
  position: absolute;
  top: 24px;
  right: 29px;
  background-color: transparent;
}

#left_arows_menu {
  position: absolute;
  width: 80px;
  height: 155px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

#left_arows_menu:hover {
  height: 180px;
}

#left_arows_menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#left_arows_menu button img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 20px;
}

/*--------*/
@-webkit-keyframes SlideUp {
  0% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes SlideUp {
  0% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes SlideDown {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes SlideDown {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

#hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_class {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroC_left {
  position: absolute;
  top: 0;
  left: 15%;
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-animation: SlideDown .5s 1s ease-in forwards;
          animation: SlideDown .5s 1s ease-in forwards;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroC_left div text {
  font-size: 2vw;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.heroC_left div h1 {
  margin: 2vh 0px 0px 0px;
  font-size: 6vw;
  color: #fff;
  position: relative;
}

.heroC_left div h1 span {
  position: absolute;
  font-size: 1vw;
  top: 0;
  right: 3vw;
}

.heroC_left div p {
  margin: 5vh 0px 8vh 0px;
  width: 50%;
  line-height: 1.4;
}

.heroC_left div a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
}

.heroC_left div a img {
  margin: 0px 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 80px;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.heroC_left div a:hover img {
  margin-left: 20px;
}

.heroC_right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-animation: SlideUp .5s 1s ease-in forwards;
          animation: SlideUp .5s 1s ease-in forwards;
  background-image: url("../images/asd.jpg");
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */